:root {
  /* primary colors */
  --bg-primary: rgb(255, 255, 255); 
  --bg-secondary: rgb(105, 103, 103);
  --bg-custom: rgb(232, 232, 243);
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgb(105, 103, 103); 
  --box-shadow: 0px 16px 30px -10px rgba(4, 4, 13, 0.2);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial Narrow", Arial, sans-serif;
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
